@using RimDialogueLocal
@using RimDialogueObjects
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

@section Head {
  <meta http-equiv="refresh" content="30">
}

<h1>RimDialogue</h1>

<h2>Server Stats as of @DateTime.Now</h2>
<dl>
  <dt>
    Start Time
  </dt>
  <dd>
    @ServerMetrics.StartTime
  </dd>
  <dt>
    Uptime
  </dt>
  <dd>
    @ServerMetrics.Uptime
  </dd>
  <dt>
    Total Errors
  </dt>
  <dd>
    @ServerMetrics.TotalErrors.ToString("N0")
  </dd>
  <dt>
    Total Requests
  </dt>
  <dd>
    @ServerMetrics.RequestCount.ToString("N0")
  </dd>
  <dt>
    Request Per Minute
  </dt>
  <dd>
    @ServerMetrics.RequestsPerMinute.ToString("N0")
  </dd>
  <dt>
    Total Input Length
  </dt>
  <dd>
    @ServerMetrics.TotalInputLength.ToString("N0")
  </dd>
  <dt>
    Average Input Length
  </dt>
  <dd>
    @ServerMetrics.AverageInputLength.ToString("N0")
  </dd>
  <dt>
    Average Input Per Minute
  </dt>
  <dd>
    @ServerMetrics.AverageInputPerMinute.ToString("N0")
  </dd>
  <dt>
    Total Output Length
  </dt>
  <dd>
    @ServerMetrics.TotalOutputLength.ToString("N0")
  </dd>
  <dt>
    Average Output Length
  </dt>
  <dd>
    @ServerMetrics.AverageOutputLength.ToString("N0")
  </dd>
  <dt>
    Average Output Per Minute
  </dt>
  <dd>
    @ServerMetrics.AverageOutputPerMinute.ToString("N0")
  </dd>
  <dt>
    Distinct IP Count
  </dt>
  <dd>
    @ServerMetrics.DistinctIPCount.ToString("N0")
  </dd>
  <dt>
    Average Requests Per IP
  </dt>
  <dd>
    @ServerMetrics.AverageRequestsPerIP.ToString("N0")
  </dd>
  <dt>
    Top 10 Requesters
  </dt>
  <dd>
    <ul>
      @foreach (var ip in ServerMetrics.GetTopRequesters(10))
      {
        <li>@ip.Key - @ip.Value.ToString("N0")</li>
      }
    </ul>
  </dd>
  <dt>
    Top 10 Requesters By Input
  </dt>
  <dd>
    <ul>
      @foreach (var ip in ServerMetrics.GetTopRequestersByInput(10))
      {
        <li>@ip.Key - @ip.Value.ToString("N0")</li>
      }
    </ul>
  </dd>
  <dt>
    Top 10 Requesters By Output
  </dt>
  <dd>
    <ul>
      @foreach (var ip in ServerMetrics.GetTopRequestersByOutput(10))
      {
        <li>@ip.Key - @ip.Value.ToString("N0")</li>
      }
    </ul>
  </dd>
</dl>

